.card {
	border-radius: var(--radii);
	background-color: car(--colors-ui-base);
	box-shadow: var(--shadow);
	cursor: pointer;
	overflow: hidden;

	&__image {
		display: block;
		width: 100%;
		height: 150px;
		object-fit: cover;
		object-position: center;
		box-shadow: var(--shadow);
	}

	&__body {
		padding: 1rem 1.5rem 2rem;
	}

	&__title {
		margin: 0;
		font-size: var(--fs-md);
		font-weight: var(--fw-bold);
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 1rem 0 0;
	}
}

.list {
	&__item {
		font-size: var(--fs-sm);
		line-height: 1.5;
		font-weight: var(--fw-light);

		& > b {
		font-weight: var(--fw-bold);
		}

	}
}
