.controls {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media (min-width: 767px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.select-wrapper {
	width: 200px;
}

.select {
	border-radius: var(--radii);
	font-family: var(--family);
	border: none;

	& > * {
		box-shadow: var(--shadow);
	}

	& input {
		padding-left: 0.25rem;
	}

	& * {
		color: var(--colors-text) !important;
	}

	& > div[id] {
		background-color: var(--colors-ui-base);
	}
}
